<form action="/profile/edit" method="post" class="delete-profile">

    <input type='text' name='firstName' value="{{user.firstName}}">

    <input type='text' name='lastName' value="{{user.lastName}}">

    <input type='text' name='username' value="{{user.username}}">

    <input type='password' name='password' value="{{user.password}}">

    <select name="gender" id="" value="{{user.gender}}">
        <option value="Male" selected>Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>

    </select>

    <label for=''>Course</label>
    <select name="course" id="" value="{{user.course}}">
        <option value="Web" selected>Web-Dev</option>
        <option value="UX-UI">UX-UI</option>
        <option value="Data">Data</option>
    </select>




    <button type='submit'>Edit profile</button>
    <button type="submit"><a href="/profile/delete/{{user._id}}">Delete profile</a></button>
</form>