<div class="newsfeed">
    {{!-- NAVBAR --}}
    <div class="container ">
        <div class="row">

            <div class="col col-xs-4">
                <a class="nav-link" href="/profile"><i class="fa fa-user"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages/create"><i class="fa fa-plus"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/logout"><i class="fa fa-star "></i></a>

            </div>
        </div>
    </div>

    {{#each messageArr}}
    <div class="card each-message">
        <div class="card-body">
            <p class="card-title">Anonymous <span class=>{{author.gender}}</span> from <span
                    class="green">{{author.course}}</span> just
                said...</p>

            <h5 class="card-text">... {{this.mainMessage}}</h5>
            <hr>

            <div class="buttons">
                <div class="emojiis">

                    <button><a href="">&#128512</a></button><span>{{counter}}</span>
                    <button><a href="">&#128514</a></button><span>{{counter}}</span>
                    <button><a href="">&#128526</a></button><span>{{counter}}</span>
                    <button><a href="">&#128530</a></button><span>{{counter}}</span>
                </div>

                <div class="favstar">
                    <i class="fa fa-star "></i>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>