<div class="newsfeed">
    {{!-- NAVBAR --}}
    <div class="container ">
        <div class="row">
            <div class="col col-xs-4">
                <a class="nav-link" href="/profile"><i class="fa fa-user"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages/create"><i class="fa fa-plus"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/logout"><i class="fa fa-power-off "></i></a>

            </div>
        </div>
    </div>
    {{#each messageArr}}
    <div class="card each-message">
        <div class="card-body" id="card-body">
            <div>
                <p class="card-title">Anonymous <span class=>{{author.gender}}</span> from <span
                        class="green">{{author.course}}</span> just
                    said...</p>
                <h5 class="card-text">... {{this.mainMessage}}</h5>
            </div>
            <form class="fav-form" action="/messages/fav?_id={{this._id}}" method="POST">
                <input type="text" value='{{this._id}}' style="display:none">
                <button id="fav-btn" type="submit">
                    {{#if this.isFavourite}}
                    <img src="/images/remove-fav.png" style='width:30px' alt="">
                    {{else}}
                    <img src="/images/add-fav.png" style='width:30px' alt="">
                    {{/if}}
                </button>
            </form>
        </div>
        <hr>
        <div class="datebody">
            <p>Posted: {{dateFormat this.created_at 'Do MMMM  YYYY, h:mm'}}</p>
        </div>
        <br>

    </div>
</div>
{{/each}}

</div>