<div class="newsfeed">


    {{!-- NAVBAR --}}
    <div class="container ">
        <div class="row">

            <div class="col col-xs-4">
                <a class="nav-link" href="/profile"><i class="fa fa-user"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages/create"><i class="fa fa-plus"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/logout"><i class="fa fa-star "></i></a>

            </div>
        </div>
    </div>



    {{!-- MESSAGES --}}
    {{!-- {{#each messageArr}}
    <div class="card">
        <div class="card-body">
            <h2>Anonymous <span class=>{{author.gender}}</span> from <span class="green">{{author.course}}</span> just
                said...
            </h2>

            <p class="main-message">... {{this.mainMessage}}</p>

            <div class="emojis">
                <a href="">&#128512</a>
                <a href="">&#128514</a>
                <a href="">&#128526</a>
                <a href="">&#128530</a>
            </div>

            <div class="buttons">
                <button class="btn btn-primary btn-sm">I agree</button>
                <button class="btn btn-warning btn-sm">I don't agree</button>
            </div>


        </div>
    </div>
    {{/each}} --}}

    {{#each messageArr}}
    <div class="card each-message">
        <div class="card-body">
            <p class="card-title">Anonymous <span class=>{{author.gender}}</span> from <span
                    class="green">{{author.course}}</span> just
                said...</p>

            <h5 class="card-text">... {{this.mainMessage}}</h5>

            <hr>

            <div class="buttons">
                <div class="emojiis">
                    {{!-- <button class="btn btn-primary btn-sm">I agree</button> --}}
                    {{!-- <button class="btn btn-warning btn-sm">I don't agree</button> --}}
                    <button><a href="">&#128512</a></button><span>{{counter}}</span>
                    <button><a href="">&#128514</a></button><span>{{counter}}</span>
                    <button><a href="">&#128526</a></button><span>{{counter}}</span>
                    <button><a href="">&#128530</a></button><span>{{counter}}</span>
                </div>
                <div class="favstar">
                    <i class="fa fa-star "></i>
                </div>
            </div>






        </div>
    </div>
    {{/each}}

</div>