<div class="profile-page">


    {{!-- NAVBAR --}}

    <div class="container">
        <div class="row">
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages"><i class="fa fa-comments"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages/create"><i class="fa fa-plus"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part ">
            {{!-- PROFILE CARD --}}



            <div class="card each-message">
                <div class="card-body">


                    <div class="title">
                        <h4>Name: {{user.firstName}} </h4>
                        <h4>Last Name: {{user.lastName}}</h4>
                    </div>

                    <div class="text">
                        <h4>Gender: {{user.gender}}</h4>
                        <h4>Course: {{user.course}}</h4>
                    </div>

                </div>
            </div>




            <section class="profile-selector">
                <button id="btn-my-posts" class="selected">My Posts</button>
                <button id="btn-fav-posts" class="not-selected">My Favourites</button>
            </section>
            <section class="profile__my-posts">
                {{#each user.messages}}
                <div class="card each-message">
                    <div class="card-body">
                        <p>You wrote</p>
                        <h5 class="card-text"> {{this.mainMessage}}</h5>
                        <p>{{dateFormat this.created_at 'dddd, MMMM Do YYYY, h:mm'}}</p>

                    </div>
                </div>
                {{/each}}
            </section>
            <section class="profile__fav-posts">
                {{#each user.favourites}}
                <div class="card each-message">
                    <div class="card-body">

                        <h5 class="card-text"> {{this.mainMessage}}</h5>
                        <p>{{dateFormat this.created_at 'dddd, MMMM Do YYYY, h:mm'}}</p>

                    </div>
                </div>
                {{/each}}
            </section>


            <a href="edit">Click me</a>
        </div>
    </div>
</div>