<div class="profile-page">


    {{!-- NAVBAR --}}

    <div class="container">
        <div class="row">
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages"><i class="fa fa-comments"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/messages/create"><i class="fa fa-plus"></i></a>
            </div>
            <div class="col col-xs-4">
                <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            {{!-- PROFILE CARD --}}



            <div class="card each-message">
                <div class="card-body">


                    <div class="title">
                        <h4>Name: {{user.firstName}} </h4>
                        <h4>Last Name: {{user.lastName}}</h4>
                    </div>

                    <div class="text">
                        <h4>Gender: {{user.gender}}</h4>
                        <h4>Course: {{user.course}}</h4>
                    </div>

                </div>
            </div>



            {{!-- MY POSTS --}}


            <hr>
            <h2>What you posted</h2>
            <br>
            {{#each user.messages}}
            <div class="card each-message">
                <div class="card-body">
                    {{!-- <p class="card-title"></span> just
                        said...</p> --}}

                    <h5 class="card-text"> {{this.mainMessage}}</h5>

                </div>
            </div>

            {{/each}}

            <hr>
            <h2>What you liked</h2>
            <br>
            {{#each user.favourites}}
            <div class="card each-message">
                <div class="card-body">
                    {{!-- <p class="card-title"></span> just
                        said...</p> --}}

                    <h5 class="card-text"> {{this.mainMessage}}</h5>

                </div>
            </div>

            {{/each}}

        </div>
    </div>
</div>